body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: beige;
}
#container{
    text-align: center;
    background-color: lightgrey;
    padding: 50px;
}
.input-div{
    display: inline-block;
}
.inp{
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-weight: bold;
    font-size: 22px;
}
